.main__section-0_black-pix {
    background: var(--section-0-bgcolor) var(--section-0-pix) no-repeat center/100%;
}

.section-0__text-block {
    line-height: .1rem;
}

.section-0_text-1-color{
    color: var(--section-0-text-1-color);
}
.section-0_text-2-color{
    color: var(--section-0-text-2-color);
}
